<!DOCTYPE html>
<html>
	<head lang="en-us">
		<meta charset="UTF-8">
		<title>Scrape-O-Matic: BBC Edition</title>
		<link href="https://fonts.googleapis.com/css?family=Josefin+Sans" rel="stylesheet">
		
	</head>
	<body>
		<h1>Scrape-O-Matic: BBC Edition</h1>
		<br>
		{{{ body }}}
	</body>
</html>