<!DOCTYPE html>
<html>
	<head lang="en-us">
		<meta charset="UTF-8">
		<title>Scrape-O-Matic: BBC Edition</title>
		<link href="https://fonts.googleapis.com/css?family=Amatic+SC" rel="stylesheet">
		<link rel="stylesheet" href="assets/css/style.css">
	</head>
	<body>
		<h1>Scrape-O-Matic: BBC Edition</h1>
	</body>
</html>