<div class="title"><a href={{article.link}}>{{article.title}}</a></div>
<br>
<div class="summary">{{article.summary}}</div>
<br>
<form action="/article/{{article._id}}">
	<textarea id="newNote">
	<br>
	<button id="submit">Submit New Note</button>
</form>