body {
	font-family: 'Josefin Sans', sans-serif;
	color: white;
	background-image: url("../images/dark_embroidery.png");
}

h1 {
	font-size: 70px;
	margin-top: 0px;
	padding-top: 0px;
}

.title {
	font-size: 35px;
}

.summary, form {
	font-size: 25px;
}

a, a:hover, a:active, a:visited {
	text-decoration: none;
	color: inherit;
}

#update, .notes {
	font-size: 25px;
	border: 2px solid white;
}

.note {
	font-size: 25px;
}